/*POPUP BOX HACK BY HACKUBLOG*/
#backgroundPopup{ 
display:none; 
position:fixed; 
_position:absolute; /* hack for internet explorer 6*/ 
height:100%; 
width:100%; 
top:0; 
left:0; 
background:#000000; 
border:1px solid #cecece; 
z-index:1; 
} 
#popupContact{ 
display:none; 
position:fixed; 
_position:absolute; /* hack for internet explorer 6*/ 
height:350px; /*ปรับความสูงได้ตามความต้องการ*/ 
width:500px; /*ปรับความกว้างได้ตามความต้องการ*/ 
background:#EDEEEF; 
border:2px solid #cecece; 
z-index:2; 
padding:12px; 
font-size:13px; 
} 
#popupContact h3{
text-align:left;
color:#920000;
font-size:12px;
font-weight:bold;
border-bottom:1px dotted #ffffff;
padding-bottom:2px;
margin-bottom:20px;
text-shadow:0.5px 0.5px 0.5px #ffffff
} 
#popupContactClose{ 
font-size:14px; 
line-height:14px; 
right:6px; 
top:4px; 
position:absolute; 
color:#AD0000;
font-weight:bold; 
display:block; 
} 
#button{ 
text-align:center; 
float:center; 
margin:5px; 
}
