
.file-wrapper {
	position: relative;
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
}
.file-wrapper input {
	position: absolute;
	top: 10;
	right: 0;
	filter: alpha(opacity=1);
	opacity: 0.01;
	-moz-opacity: 0.01;
	cursor: pointer;
}
.file-wrapper .button {
	color: #fff;
	background: #4267B2;
	padding: 4px 18px;
	margin-right: 5px;	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: inline-block;
	font-weight: bold;
	cursor: pointer;
}
.file-holder{
	color: #000;
}