.hr-with-text {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.hr-with-text::before,
.hr-with-text::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid black;
    margin: 5px;
}

.hr-with-text span {
    padding: 0 10px;
    font-weight: bold;
}
