body { font-family:"Segoe UI"; margin:0; padding:0; background:#f4f6f9; color:#333; }
header { background:#0c4e94; color:white; padding:15px; text-align:center; position:relative; }
.logout { position:absolute; top:15px; right:15px; background:#dc3545; padding:8px 15px; border-radius:5px; color:rgb(94, 82, 82); text-decoration:none; }
.darkmode { position:absolute; top:15px; left:15px; background:#333; padding:8px 15px; border-radius:5px; color:rgb(223, 121, 121); text-decoration:none; }
body.dark { background:#222; color:#444343; }
body.dark header { background:#444; }

.container { padding:20px; }

.card-group { 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    background: #f9f9f9; 
    padding: 25px; 
    margin-bottom: 30px;
}

.cards-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* ช่องว่างระหว่างการ์ด */
}

.card {
    background:rgb(199, 195, 195); 
    border-radius:15px;
    padding:20px; 
    text-align:center;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    flex: 1 1 200px; /* ขนาดขั้นต่ำ 200px และยืดได้ */
    transition:0.3s;
}
.card:hover { transform:translateY(-5px); box-shadow:0 6px 12px rgba(0,0,0,0.2); }
.card a { text-decoration:none; color:#e3e6e9; font-weight:bold; display:block; margin-top:10px; }
h3 { margin:0 0 10px 0; font-size:1.2rem; }