form {
	margin: 0px;
}

.EE	{BORDER:1px solid #FFFFFF;EMPTY-CELLS:show;BORDER-COLLAPSE:collapse}
.EE	TD	{BORDER-TOP:1px solid #C1CDD8;HEIGHT:23px;PADDING-LEFT:1px;PADDING-RIGHT:1px}

.tile {
	background-image: url(../images/tile.gif);
	font-size: 11px;
	font-weight: bold;
	color: #006699;
	vertical-align: middle;

}
.heading {
	vertical-align: middle;
	text-align: left;
}
.box {
	border: 1px solid #84C0D9;
}
.box2 a {
	color: #006688;
	font-size: 12px;
}
legend {
	color: #006699;
}

.box2 a:hover {
	color: #FF9900;
}
.product {
	background-color: #FAFCFE;
	border: 1px solid #BBD5E8;
	margin: 12px;
}
.product_img {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 12px;
}
.inputtxt {
	border: 1px solid ;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #006699;
	background-image: url(../images/footer_bg.gif);
	vertical-align: middle;
}


trans
{
font-size:12px;
}

.box1 {
	border: 1px solid #FFFFFF;
}
.box2 {
	border: 1px solid #84C0D9;
}
h1 {
	font-size: 16px;
}
.table_br .box img {
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
h2 a{font-size:14px;}
h1 a {
	font-size: 18px;
}
.box p {
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
.catgory img {
	margin: 0px;
	padding: 0px;
}

.tile_bot {
	background-image: url(../images/tile_bot.gif);
	background-repeat: repeat-x;
}

A {COLOR:#000000;TEXT-DECORATION:none}
a:hover {color: #000000;}


#form1 input {
	height: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #006699;
}
.textf {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #006699;
	height: 12px;
	width: 80px;
}

.search {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #006699;
	background-color: #0782AF;
	height: 20px;
	width: 50px;
	border: 1px solid #006699;
	font-size: 12px;
}

body,td,th {
	font-family: TH SarabunPSK, Arial, Helvetica, sans-serif;
	//font-size: 19px;
	color: #006699;  //สีตัวหนังสือในฟอร์ม
}

/*----------------------------- Menu 5 ---------------------------------*/
.menu5 {
	padding:5px 0 0 1em; 
	margin:0; list-style:none; 
	height:40px; 
	position:relative; 
	background:transparent url(../images/pro_five_0c.gif) repeat-x left bottom; 
}
.menu5 li {float:left; height:40px; margin-right:1px;}
.menu5 li a {
	display:block; float:left; height:40px; 
	line-height:35px; color:#333; text-decoration:none; 
	font-family:TH Fah kwang;font-size:14pt;
	text-align:center; padding:0 0 0 4px; cursor:pointer; 
	background:url(../images/pro_five_0a.gif) no-repeat;
}
.menu5 li a b {float:left; display:block; padding:0 16px 5px 12px; background:url(../images/pro_five_0b.gif) no-repeat right top;}
.menu5 li.current a {color:#000; background:url(../images/pro_five_2a.gif) no-repeat;}
.menu5 li.current a b {background:url(../images/pro_five_2b.gif) no-repeat right top;}
.menu5 li a:hover {color:#000; background: url(../images/pro_five_1a.gif) no-repeat;}
.menu5 li a:hover b {background:url(../images/pro_five_1b.gif) no-repeat right top;}
.menu5 li.current a:hover {color:#000; background: url(../images/pro_five_2a.gif) no-repeat; cursor:default;}
.menu5 li.current a:hover b {background:url(../images/pro_five_2b.gif) no-repeat right top;}


/* the div that holds the date picker calendar */
.dpDiv {
	}

/* the table (within the div) that holds the date picker calendar */
.dpTable {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #505050;
	background-color: #ece9d8;
	border: 1px solid #AAAAAA;
	}

/* a table row that holds date numbers (either blank or 1-31) */
.dpTR {
	}

/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR {
	}

/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR {
	}

/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR {
	}

/* a table cell that holds a date number (either blank or 1-31) */
.dpTD {
	border: 1px solid #ece9d8;
	}

/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	}

/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover {
	background-color: #aca998;
	border: 1px solid #888888;
	cursor: pointer;
	color: red;
	}

/* the table cell that holds the name of the month and the year */
.dpTitleTD {
	}

/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD {
	}

/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD {
	}

/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	color: white;
	}

/* additional style information for the text that indicates the month and year */
.dpTitleText {
	font-size: 12px;
	color: gray;
	font-weight: bold;
	}

/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */ 
.dpDayHighlight {
	color: 4060ff;
	font-weight: bold;
	}

/* the forward/backward buttons at the top */
.dpButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	padding: 0px;
	}

/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	}


