#facebox .b {
  background:url(images/b.png);
}

#facebox .tl {
  background:url(images/tl.png);
}

#facebox .tr {
  background:url(images/tr.png);
}

#facebox .bl {
  background:url(images/bl.png);
}

#facebox .br {
  background:url(images/br.png);
}

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#facebox .popup {
  position: relative;
}

#facebox table {
  border-collapse: collapse;
}

#facebox td {
  font-family: "Verdana";
  font-size: 11px;
  border-bottom: 0;
  padding: 0;
}

#facebox .body {
	background-color: #fff;
	border: 1px solid #555;
}

#facebox .body .content {
	overflow: auto;
	margin: 0px;
	position: relative;
	padding: 5px 10px;
	border: 1px solid #fff;
	color:#000;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .faceboxTitle {
	font-size: 14px;
	color: #fff;
	background-color: #6d84b4;
	border: 1px solid #3b5998;
	font-weight: bold;
	margin: -1px;
	margin-bottom: 0px;
	padding: 5px 10px;
}

#facebox .footer {
	background-color: #f2f2f2;
	border-top: 1px solid #ccc;
	padding: 4px 10px;
	text-align: right;  
}

#facebox .footer input[type="button"] {
	border: 1px solid #666;
	border-top-color: #e7e7e7;
	border-left-color: #e7e7e7;
	background-color: #f0f0f0;
	padding: 3px 15px;
	line-height: 16px;
	vertical-align: middle;
	margin-left: 5px;
}

#facebox .footer input[type="button"].faceboxSubmit {
	border-color: #0e1f5b;
	border-top-color: #d9dfea;
	border-left-color: #d9dfea;
	background-color: #3b598a;
	color: #fff;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

* html #facebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
