-- 1. 👤 ผู้ใช้งาน
CREATE TABLE `user` (
  `id` INTEGER(11) NOT NULL AUTO_INCREMENT,
  `username` VARCHAR(100) COLLATE utf8_general_ci NOT NULL,
  `password` VARCHAR(255) COLLATE utf8_general_ci NOT NULL,
  `fullname` VARCHAR(255) COLLATE utf8_general_ci DEFAULT NULL,
  `clinic_id` INTEGER(11) NOT NULL COMMENT 'รหัสคลินิกที่ผู้ใช้นี้เป็นเจ้าของหรืออยู่ในคลินิกนี้',
  `role` INTEGER(11) DEFAULT NULL,
  `email` VARCHAR(255) COLLATE utf8_general_ci DEFAULT NULL,
  `created_at` DATETIME DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY USING BTREE (`id`),
  UNIQUE KEY `username` USING BTREE (`username`)
) ENGINE=MyISAM
AUTO_INCREMENT=57 CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

--2. 🏥 ข้อมูลคลินิก
CREATE TABLE `clinics` (
  `clinic_id` INTEGER(11) NOT NULL AUTO_INCREMENT,
  `clinic_name` VARCHAR(255) COLLATE tis620_thai_ci NOT NULL,
  `address` TEXT COLLATE tis620_thai_ci DEFAULT NULL,
  `phone` VARCHAR(20) COLLATE tis620_thai_ci DEFAULT NULL,
  `email` VARCHAR(100) COLLATE tis620_thai_ci DEFAULT NULL,
  `owner_name` VARCHAR(250) COLLATE tis620_thai_ci DEFAULT NULL,
  `created_at` TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY USING BTREE (`clinic_id`)
) ENGINE=MyISAM
AUTO_INCREMENT=4 CHARACTER SET 'tis620' COLLATE 'tis620_thai_ci';

--3. 🐶 ข้อมูลสัตว์
CREATE TABLE `dogs` (
  `user_id` INTEGER(11) NOT NULL COMMENT 'เจ้าของข้อมูลสุนัข',
  `clinic_id` INTEGER(11) NOT NULL COMMENT 'เจ้าของข้อมูลสุนัข',
  `dog_id` INTEGER(11) NOT NULL AUTO_INCREMENT,
  `dog_name` VARCHAR(100) COLLATE utf8_general_ci DEFAULT NULL COMMENT 'ชื่อ',
  `dog_breed` VARCHAR(100) COLLATE utf8_general_ci DEFAULT NULL COMMENT 'สายพันธุ์',
  `dog_age` INTEGER(3) DEFAULT NULL COMMENT 'อายุ',
  `dog_weight` INTEGER(3) DEFAULT NULL COMMENT 'น้ำหนัก',
  `dog_gender` VARCHAR(100) COLLATE utf8_general_ci DEFAULT NULL COMMENT 'เพศ',
  `dog_medical_history` TEXT COLLATE utf8_general_ci DEFAULT NULL COMMENT 'ประวัติการรักษา',
  `created_at` DATETIME DEFAULT CURRENT_TIMESTAMP COMMENT 'วันที่ทำข้อมูล',
  `dog_image_path` VARCHAR(255) COLLATE utf8_general_ci DEFAULT NULL,
  `xray_image_path` VARCHAR(255) COLLATE utf8_general_ci DEFAULT NULL,
  PRIMARY KEY USING BTREE (`dog_id`)
) ENGINE=MyISAM
AUTO_INCREMENT=61 CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

-- 4.📋 การรักษาพยาบาล
CREATE TABLE `treatments` (
  `treatment_id` INTEGER(11) NOT NULL AUTO_INCREMENT,
  `clinic_id` INTEGER(11) NOT NULL COMMENT 'รหัสคลินิก',
  `dog_id` INTEGER(11) NOT NULL COMMENT 'รหัสสุนัข',
  `treatment_date` DATE NOT NULL COMMENT 'วันที่รักษา',
  `symptoms` TEXT COLLATE utf8_general_ci DEFAULT NULL COMMENT 'อาการที่พบ',
  `diagnosis` TEXT COLLATE utf8_general_ci DEFAULT NULL COMMENT 'การวินิจฉัย',
  `treatment` TEXT COLLATE utf8_general_ci DEFAULT NULL COMMENT 'รายละเอียดการรักษา',
  `medication` TEXT COLLATE utf8_general_ci DEFAULT NULL COMMENT 'ยา/เวชภัณฑ์ที่ใช้',
  `doctor_name` VARCHAR(100) COLLATE utf8_general_ci DEFAULT NULL COMMENT 'ชื่อสัตวแพทย์ผู้รักษา',
  `user_id` INTEGER(11) NOT NULL COMMENT 'รหัสสุนัข',
  `next_appointment` DATE DEFAULT NULL COMMENT 'วันนัดถัดไป',
  `created_at` DATETIME DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY USING BTREE (`treatment_id`)
) ENGINE=MyISAM
AUTO_INCREMENT=5 CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

-- 5. 📅 การนัดหมาย
CREATE TABLE `appointments` (
  `appointment_id` INTEGER(11) NOT NULL AUTO_INCREMENT,
  `clinic_id` INTEGER(11) NOT NULL COMMENT 'อ้างถึง clinic_id จาก dogs',
  `dog_id` INTEGER(11) NOT NULL COMMENT 'อ้างถึง dog_id จาก dogs',
  `appointment_date` DATETIME NOT NULL COMMENT 'วันและเวลานัด',
  `description` TEXT COLLATE utf8_general_ci DEFAULT NULL COMMENT 'เหตุผลที่นัด',
  `status` ENUM('รอพบแพทย์','เสร็จสิ้น','ยกเลิก') COLLATE utf8_general_ci DEFAULT 'รอพบแพทย์',
  `created_at` TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY USING BTREE (`appointment_id`)
) ENGINE=MyISAM
AUTO_INCREMENT=5 CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

-- 6. 💉 ฉีดวัคซีน
CREATE TABLE `vaccinations` (
  `vaccine_id` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'รหัสวัคซีน',
  `dog_id` INT(11) NOT NULL COMMENT 'อ้างถึง dog_id จาก dogs',
  `clinic_id` INT(11) NOT NULL COMMENT 'อ้างถึง clinic_id จาก clinics',
  `vaccine_name` VARCHAR(255) COLLATE utf8_general_ci NOT NULL COMMENT 'ชื่อวัคซีน เช่น วัคซีนพิษสุนัขบ้า',
  `vaccine_type` VARCHAR(100) COLLATE utf8_general_ci DEFAULT NULL COMMENT 'ประเภท เช่น วัคซีนรวม, วัคซีนพิษสุนัขบ้า',
  `vaccine_date` DATE NOT NULL COMMENT 'วันที่ฉีด',
  `next_due_date` DATE DEFAULT NULL COMMENT 'วันที่ควรฉีดครั้งถัดไป',
  `doctor_name` VARCHAR(100) COLLATE utf8_general_ci DEFAULT NULL COMMENT 'สัตวแพทย์ผู้ฉีด',
  `note` TEXT COLLATE utf8_general_ci DEFAULT NULL COMMENT 'หมายเหตุเพิ่มเติม',
  `created_at` DATETIME DEFAULT CURRENT_TIMESTAMP COMMENT 'วันที่บันทึก',
  PRIMARY KEY (`vaccine_id`)
) ENGINE=MyISAM
AUTO_INCREMENT=1
CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';

-- 7.💊 ถ่ายพยาธิ
CREATE TABLE `dewormings` (
  `deworming_id` INTEGER(11) NOT NULL AUTO_INCREMENT,
  `dog_id` INTEGER(11) NOT NULL,
  `clinic_id` INTEGER(11) NOT NULL,
  `drug_name` VARCHAR(255) COLLATE tis620_thai_ci NOT NULL,
  `treatment_date` DATE NOT NULL,
  `next_due_date` DATE DEFAULT NULL,
  `note` TEXT COLLATE tis620_thai_ci DEFAULT NULL,
  `created_at` DATETIME DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY USING BTREE (`deworming_id`)
) ENGINE=InnoDB
AUTO_INCREMENT=4 ROW_FORMAT=DYNAMIC CHARACTER SET 'tis620' COLLATE 'tis620_thai_ci';

--8. 🔬 ผลตรวจ Lab
CREATE TABLE `lab_results` (
  `lab_id` INTEGER(11) NOT NULL AUTO_INCREMENT,
  `dog_id` INTEGER(11) NOT NULL,
  `clinic_id` INTEGER(11) NOT NULL,
  `test_name` TEXT COLLATE tis620_thai_ci DEFAULT NULL,
  `test_date` DATE NOT NULL,
  `blood_result` TEXT COLLATE tis620_thai_ci DEFAULT NULL,
  `urine_result` TEXT COLLATE tis620_thai_ci DEFAULT NULL,
  `file_path` VARCHAR(255) COLLATE tis620_thai_ci DEFAULT NULL COMMENT 'X-ray / Ultrasound หรือไฟล์แล็บ',
  `note` TEXT COLLATE tis620_thai_ci DEFAULT NULL,
  `created_at` DATETIME DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY USING BTREE (`lab_id`)
) ENGINE=InnoDB
AUTO_INCREMENT=4 ROW_FORMAT=DYNAMIC CHARACTER SET 'tis620' COLLATE 'tis620_thai_ci';

--9. 🩺 ผ่าตัด/หัตถการ
CREATE TABLE `surgeries` (
  `surgery_id` INTEGER(11) NOT NULL AUTO_INCREMENT,
  `clinic_id` INTEGER(11) NOT NULL,
  `dog_id` INTEGER(11) NOT NULL,
  `surgery_date` DATE NOT NULL,
  `surgery_type` VARCHAR(255) COLLATE tis620_thai_ci NOT NULL,
  `description` TEXT COLLATE tis620_thai_ci DEFAULT NULL,
  `doctor_name` VARCHAR(255) COLLATE tis620_thai_ci DEFAULT NULL,
  `outcome` TEXT COLLATE tis620_thai_ci DEFAULT NULL,
  `notes` TEXT COLLATE tis620_thai_ci DEFAULT NULL,
  `created_at` TIMESTAMP NULL DEFAULT '0000-00-00 00:00:00',
  PRIMARY KEY USING BTREE (`surgery_id`)
) ENGINE=InnoDB
AUTO_INCREMENT=3 ROW_FORMAT=DYNAMIC CHARACTER SET 'tis620' COLLATE 'tis620_thai_ci';

--10. 🥗 โภชนาการ
CREATE TABLE `nutrition` (
  `nutrition_id` INTEGER(11) NOT NULL AUTO_INCREMENT,
  `dog_id` INTEGER(11) NOT NULL,
  `clinic_id` INTEGER(11) NOT NULL,
  `food` TEXT COLLATE tis620_thai_ci DEFAULT NULL COMMENT 'อาหารที่กินประจำ',
  `allergy` TEXT COLLATE tis620_thai_ci DEFAULT NULL COMMENT 'ประวัติการแพ้อาหาร',
  `advice` TEXT COLLATE tis620_thai_ci DEFAULT NULL COMMENT 'ข้อแนะนำการดูแล',
  `created_at` DATETIME DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY USING BTREE (`nutrition_id`)
) ENGINE=InnoDB
AUTO_INCREMENT=3 ROW_FORMAT=DYNAMIC CHARACTER SET 'tis620' COLLATE 'tis620_thai_ci';

--11. 🏠 ฝากเลี้ยง
CREATE TABLE `boarding` (
  `boarding_id` INTEGER(11) NOT NULL AUTO_INCREMENT,
  `dog_id` INTEGER(11) NOT NULL,
  `clinic_id` INTEGER(11) NOT NULL,
  `start_date` DATE NOT NULL COMMENT 'วันที่รับฝาก',
  `end_date` DATE NOT NULL COMMENT 'วันที่รับกลับ',
  `symptoms` TEXT COLLATE tis620_thai_ci DEFAULT NULL COMMENT 'อาการตอนฝาก',
  `care` TEXT COLLATE tis620_thai_ci DEFAULT NULL COMMENT 'การดูแลระหว่างฝาก',
  `created_at` DATETIME DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY USING BTREE (`boarding_id`)
) ENGINE=InnoDB
AUTO_INCREMENT=3 ROW_FORMAT=DYNAMIC CHARACTER SET 'tis620' COLLATE 'tis620_thai_ci';

--12.📎 ไฟล์แนบ
CREATE TABLE `attachments` (
  `attachment_id` INTEGER(11) NOT NULL AUTO_INCREMENT,
  `dog_id` INTEGER(11) NOT NULL,
  `clinic_id` INTEGER(11) NOT NULL,
  `file_type` ENUM('ใบเสร็จ','ใบรับรองแพทย์','โอนกรรมสิทธิ์','อื่นๆ') COLLATE tis620_thai_ci DEFAULT 'อื่นๆ',
  `file_path` VARCHAR(255) COLLATE tis620_thai_ci NOT NULL,
  `note` TEXT COLLATE tis620_thai_ci DEFAULT NULL,
  `uploaded_at` DATETIME DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY USING BTREE (`attachment_id`)
) ENGINE=InnoDB
AUTO_INCREMENT=2 ROW_FORMAT=DYNAMIC CHARACTER SET 'tis620' COLLATE 'tis620_thai_ci';

--13 ตารางสินค้า/บริการ (products)
--ใช้เก็บข้อมูลยา, ค่ารักษา, ค่าบริการ, วัคซีน ฯลฯ
CREATE TABLE `products` (
  `product_id` INT(11) NOT NULL AUTO_INCREMENT,
  `product_name` VARCHAR(255) NOT NULL,
  `category` ENUM('ยา','บริการ','วัคซีน','อื่นๆ') DEFAULT 'อื่นๆ',
  `unit_price` DECIMAL(10,2) DEFAULT 0.00,
  `created_at` DATETIME DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`product_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

--14 ตารางใบแจ้งหนี้ (invoices)
-- ใช้เก็บข้อมูลลูกค้าและยอดรวม
CREATE TABLE `invoices` (
  `invoice_id` INT(11) NOT NULL AUTO_INCREMENT,
  `clinic_id` INT(11) NOT NULL,
  `user_id` INT(11) NOT NULL,
  `dog_id` INT(11) NOT NULL,
  `invoice_date` DATETIME DEFAULT CURRENT_TIMESTAMP,
  `total_amount` DECIMAL(10,2) DEFAULT 0.00,
  `status` ENUM('รอชำระ','ชำระแล้ว','ยกเลิก') DEFAULT 'รอชำระ',
  `payment_method` ENUM('เงินสด','โอน','บัตรเครดิต','PromptPay') DEFAULT 'เงินสด',
  `note` TEXT DEFAULT NULL,
  PRIMARY KEY (`invoice_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

--15 ตารางรายละเอียดใบแจ้งหนี้ (invoice_items)
--เก็บรายละเอียดสินค้าหรือบริการแต่ละรายการในบิล
CREATE TABLE `invoice_items` (
  `item_id` INT(11) NOT NULL AUTO_INCREMENT,
  `invoice_id` INT(11) NOT NULL,
  `description` VARCHAR(255) NOT NULL,
  `quantity` DECIMAL(10,2) DEFAULT 1.00,
  `unit_price` DECIMAL(10,2) DEFAULT 0.00,
  `total_price` DECIMAL(10,2) GENERATED ALWAYS AS (quantity * unit_price) STORED,
  PRIMARY KEY (`item_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

