@import url("tabs.css");
@import url("navigation_.css");
BODY	{COLOR:#007EC1;MARGIN-TOP:2px;MARGIN-LEFT:0px;MARGIN-RIGHT:0px}
A, BODY, INPUT, OPTION, SELECT, TEXTAREA, TABLE, TD, TR {
//font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
//Font-family:Cordia New, Tahoma, Helvetica, sans-serif;
//Font-family: Tahoma,Arial, Helvetica, sans-serif;
Font-family: Arial,Arial,Helvetica, sans-serif;
	font-size: 16px;
	color: #3B5998;  //สีตัวหนังสือในฟอร์ม สีดำ

}
A {COLOR:#000000;TEXT-DECORATION:none} //สีตัวหนังสือตัว link
a:hover {color: #66cc00;} //สีตัวหนังสือเวลา moseover link
form {
	margin: 0px;
}
h2 {
	font-size: 19px; 
	HEIGHT:10px; //กำหนดความสูงช่องไฟ
}
SELECT,OPTION,TEXTAREA		{PADDING-LEFT:2px}th {
	padding: 0 0.5em;
	text-align: left;
 font-size: 14px; 
	}

tr.yellow td {
//	border-top: 1px solid #FB7A31;
//	border-bottom: 1px solid #ccc;
	border-left: 0px solid #fff;
		border-right: 0px solid #fff;
	//background: #cccccc;
}

tr.center td {
		text-align: center;
}

tr.nocolor td {
//	border-top: 1px solid #FB7A31;
//	border-bottom: 1px solid #ccc;
	border-left: 0px solid #ccc;
		border-right: 0px solid #ccc;
//	background: #cccccc;
}

tr.non td {
//	border-top: 1px solid #FB7A31;
//	border-bottom: 1px solid #ccc;
	border-left: 0px solid #fff;
		border-right: 0px solid #fff;
	//background: #cccccc;
}

td:first-child {
//	text-align: left;
//	width: 190px;
	border-left: 1px solid #CCC;
	}

td+td {
	border-left: 1px solid #CCC;
	}
.D	{FONT-SIZE:22px;COLOR:#FFFFFF;Font-family:Cordia New} //ใช้ตรงระบบสินทรัพย์ HEAD

.A	{HEIGHT:10px;BORDER:1px solid #000000;TEXT-DECORATION:none;COLOR:#FFFFFF;BACKGROUND-IMAGE:url(images/bgcolor.gif)}
.B	{COLOR:#8D8D8D;HEIGHT:10px;BORDER:1px solid #8D8D8D;TEXT-DECORATION:none;BACKGROUND-IMAGE:url(bgcolor.gif)}
.C	{PADDING-LEFT:2px}

.E	{FONT-SIZE:20px;COLOR:#FFFFFF;Font-family:Cordia New} //ใชัตรงตัวอักษร เมนู Head
.E:hover	{TEXT-DECORATION:none}

.SD	{FONT-SIZE:19px;COLOR:#363636;Font-family:Cordia New} //ใช้สังกัดหัว submenublack

.F	{COLOR:#FFFFFF;FONT-WEIGHT:BOLD}
.G	{COLOR:#FFFFFF}
.H2	{COLOR:#800000}
.I	{FONT-SIZE:20px;COLOR:#FFFFFF;Font-family:Cordia New} //ใช้ตรง head
.J	{COLOR:#000000}
.K	{COLOR:#000000;FONT-WEIGHT:BOLD}
.L	{COLOR:#000000;FONT-WEIGHT:BOLD;FONT-SIZE:18px}
.M	{COLOR:#FFFFFF;FONT-WEIGHT:BOLD;FONT-SIZE:18px}
.N	{HEIGHT:24px;BACKGROUND-IMAGE:url(/images/bgcolor.gif)}
.O TD	{HEIGHT:20px;WHITE-SPACE:nowrap}
.O A	{COLOR:#000000;TEXT-DECORATION:none !important}
.P	{PADDING-LEFT:4px;PADDING-RIGHT:4px;CURSOR:hand}
.Q	{COLOR:#FFFFFF;PADDING-LEFT:4px;PADDING-RIGHT:4px;BACKGROUND-COLOR:#4791C5;CURSOR:hand}
.Q A	{COLOR:#FFFFFF}
.R	{COLOR:#8D8D8D;PADDING-LEFT:4px;PADDING-RIGHT:4px}
.S	{COLOR:#8D8D8D;PADDING-LEFT:3px;PADDING-RIGHT:3px;BACKGROUND-COLOR:#e9f2f8;BORDER:1px solid #336699}
.T	{PADDING-LEFT:3px;PADDING-RIGHT:3px;BACKGROUND-COLOR:#e9f2f8;BORDER:1px solid #336699;CURSOR:hand}
.U	{BACKGROUND-COLOR:#e9f2f8;LAYER-BACKGROUND-COLOR:#e9f2f8;VISIBILITY:hidden;POSITION:absolute;Z-INDEX:100;PADDING:1px;OVERFLOW:visible;BORDER:solid 1px #4791C5;TOP:0px;LEFT:-200px;WHITE-SPACE:nowrap;CURSOR:hand}
.V	{HEIGHT:1px;PADDING:0px;BORDER-TOP:1px solid #4791C5}
.W	{PADDING-LEFT:5px;PADDING-RIGHT:5px;PADDING-TOP:1px;;PADDING-BOTTOM:1px}
.W A{TEXT-DECORATION:none;COLOR:#000000}
.X	{BACKGROUND-COLOR:#FFFFFF;PADDING-LEFT:5px;PADDING-RIGHT:5px;PADDING-TOP:1px;;PADDING-BOTTOM:1px}
.X A{TEXT-DECORATION:none !important;COLOR:#000000}
.y	{COLOR:#8D8D8D;PADDING-LEFT:5px;PADDING-RIGHT:5px;PADDING-TOP:1px;PADDING-BOTTOM:1px}
.Z	{BACKGROUND-COLOR:#FFFFFF;COLOR:#8D8D8D;PADDING-LEFT:5px;PADDING-RIGHT:5px;PADDING-TOP:1px;;PADDING-BOTTOM:1px}
.AA	{BACKGROUND-COLOR:#FFFFFF;BORDER:1px solid #FFFFFF}
.BB	{FONT-WEIGHT:BOLD}
.CC	{COLOR:#336699;FONT-WEIGHT:BOLD}
.DD	{COLOR:#000099}

.EE	{border-left: 1px solid #CCC;BORDER:1px solid #CCC;padding: 0 0.5em;EMPTY-CELLS:show;BORDER-COLLAPSE:collapse}
.EE	TD	{BORDER-TOP:1px solid #c1cdd8;HEIGHT:23px;PADDING-LEFT:1px;PADDING-RIGHT:1px}
.EEd	TD	{BORDER-TOP:1px solid #000000;HEIGHT:23px;PADDING-LEFT:1px;PADDING-RIGHT:1px}
.EEb	TD	{BORDER-TOP:1px solid #c1cdd8;HEIGHT:23px;PADDING-LEFT:1px;PADDING-RIGHT:1px}
.EE0 TD	{BORDER-TOP:1px solid #ffffff;HEIGHT:23px;PADDING-LEFT:1px;PADDING-RIGHT:1px}

.FF	{COLOR:#10659E}
TR.H	{BACKGROUND-COLOR:#C1CDD8}
.GG	{BACKGROUND-COLOR:#FFFFCC;BORDER:1px solid #96965E;PADDING:5px;MARGIN-TOP:12px;MARGIN-BOTTOM:12px}
.HH	{COLOR:#e9f2f8;FONT-WEIGHT:BOLD}
.II	{COLOR:#800000;HEIGHT:1px}
TR.HL	{BACKGROUND-COLOR:#e9f2f8;CURSOR:hand}
TR.SL	{BACKGROUND-COLOR:#C1CDD8}
.JJ 	{background-color:#FFFFFF;border:1px solid #A0C6E5;padding:5px;overflow-x:hidden;overflow-y:auto;vertical-align:top;width:650px}
.RTE	{FONT-SIZE:12px;FONT-FAMILY:tahoma,sans-serif}
.KK	{HEIGHT:12px;WIDTH:15px;MARGIN-LEFT:5px}
.LL {PADDING-LEFT:1px}
.MM {vertical-align:middle;margin-top:1px;border:0px}
.NN {visibility:hidden;position:absolute;top:0px;left:0px;width:0px;height:0px;z-index:98;border-style:hidden;border:none}
.OO {border:0px;cell-spacing:0px;margin:0px;width:100%;}
.BT {font-family: TH SarabunPSK; font-size: 12pt; border: 1px double black;background:#7394EA; COLOR: #FFFFFF}
.BTT {font-family: TH SarabunPSK; font-size: 12pt; border: 1px double black;background:#7394EA; COLOR: #FFFFFF;PADDING:1px;}
.BTM {font-family: TH SarabunPSK; font-size: 13pt; border: 1px double black;background:#7394EA; COLOR: #FFFFFF;PADDING:1px;}


.GW	{BACKGROUND-COLOR:#cccccc;BORDER:1px solid #96965E;}
.BK {font-family: TH SarabunPSK; border: 1px double black;background:#e8e8e8; }


table.survey_invite{ margin-top: 20px; margin-bottom: 20px; background:#FFFFFF; color: #010101; }
table.survey_invite tr.row1 td.td1{ width: 8px; height: 8px; background: url(/images/survey_yellow_bg_topleft.gif) top left no-repeat; }
table.survey_invite tr.row1 td.td2{ height: 8px; background: url(/images/survey_yellow_bg_stripe.gif ) top left repeat-x; }
table.survey_invite tr.row1 td.td3{ width: 8px; height: 8px; background: url(/images/survey_yellow_bg_topright.gif) top right no-repeat; }
table.survey_invite tr.row2 td.td1{ width: 8px; background: url(/images/survey_yellow_bg_stripe.gif ) top left repeat-y; }
table.survey_invite tr.row2 td.td2{ padding: 13px; }
table.survey_invite tr.row2 td.td3{ width: 8px; background: url(/images/survey_yellow_bg_stripe.gif ) top right repeat-y; }
table.survey_invite tr.row3 td.td1{ width: 8px; height: 8px; background: url(/images/survey_yellow_bg_bottomleft.gif) bottom left no-repeat; }
table.survey_invite tr.row3 td.td2{ height: 8px; background: url(/images/survey_yellow_bg_stripe.gif ) bottom left repeat-x; }
table.survey_invite tr.row3 td.td3{ width: 8px; height: 8px; background: url(/images/survey_yellow_bg_bottomright.gif) bottom right no-repeat; }
.OO {border:0px;cell-spacing:0px;margin:0px;width:100%;}


/*----------------------------- Menu 5 ---------------------------------*/
.menu5 {
	padding:5px 0 0 1em; 
	margin:0; list-style:none; 
	height:40px; 
	position:relative; 
	background:transparent url(../images/pro_five_0c.gif) repeat-x left bottom; 
}
.menu5 li {float:left; height:40px; margin-right:1px;}
.menu5 li a {
	display:block; float:left; height:40px; 
	line-height:35px; color:#333; text-decoration:none; 
	text-align:center; padding:0 0 0 4px; cursor:pointer; 
	background:url(../images/pro_five_0a.gif) no-repeat;
}
.menu5 li a b {float:left; display:block; padding:0 10px 5px 10px; background:url(../images/pro_five_0b.gif) no-repeat right top;}
.menu5 li.current a {color:#000; background:url(../images/pro_five_2a.gif) no-repeat;}
.menu5 li.current a b {background:url(../images/pro_five_2b.gif) no-repeat right top;}
.menu5 li a:hover {color:#000; background: url(../images/pro_five_1a.gif) no-repeat;}
.menu5 li a:hover b {background:url(../images/pro_five_1b.gif) no-repeat right top;}
.menu5 li.current a:hover {color:#000; background: url(../images/pro_five_2a.gif) no-repeat; cursor:default;}
.menu5 li.current a:hover b {background:url(../images/pro_five_2b.gif) no-repeat right top;}


/* the div that holds the date picker calendar */
.dpDiv {
	}

/* the table (within the div) that holds the date picker calendar */
.dpTable {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #505050;
	background-color: #ece9d8;
	border: 1px solid #AAAAAA;
	}

/* a table row that holds date numbers (either blank or 1-31) */
.dpTR {
	}

/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR {
	}

/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR {
	}

/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR {
	}

/* a table cell that holds a date number (either blank or 1-31) */
.dpTD {
	border: 1px solid #ece9d8;
	}

/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	}

/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover {
	background-color: #aca998;
	border: 1px solid #888888;
	cursor: pointer;
	color: red;
	}

/* the table cell that holds the name of the month and the year */
.dpTitleTD {
	}

/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD {
	}

/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD {
	}

/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	color: white;
	}

/* additional style information for the text that indicates the month and year */
.dpTitleText {
	font-size: 12px;
	color: gray;
	font-weight: bold;
	}

/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */ 
.dpDayHighlight {
	color: 4060ff;
	font-weight: bold;
	}

/* the forward/backward buttons at the top */
.dpButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	padding: 0px;
	}

/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	}
/* ----- Paragraphs ----- */

#footer p{
margin:0 0 5px 0;
padding:0;
letter-spacing:.04em;
}

ul{
margin:0 0 15px 0;
padding:0 0 0 1em;
}


/* ----- TABLES ----- */


caption{
display:none;
}
thead{
}
tbody{
}
tfoot{
font-weight:bold;
background-color:#FFCFCF;
}
tr{
}
tr.alt{
background-color:#eee;
}
th{
border-bottom:1px solid #ccc;
background-color:#dedede;
padding:3px;
}



#footer p a{
color:#666;
text-decoration:none;
}

#footer a:hover{
color:red;
text-decoration:underline;
}
.clear{
clear:both;
}

div.sidess {
    position: absolute;
    top: 121px;
}

div.sidess_ {
    position: absolute;
    top: 115px;
}
div.sidess_01 {
    position: absolute;
    top: 160px;
}

div.left {
    left: 1px;
    width: 85em;
}

div.left_ {
    left: 1px;
    width: 5em;
}
div.left_01 {
    left: 1px;
    width: 5em;
}

div.right {
    right: 0px;
    width: 13em;
}

div.box {
    FONT-SIZE:12px;
    margin-bottom: 10px;
    border: 1px solid #c0c0c0;
    padding: 10px;
    background-color: #e0e0e0;
    color: #000000;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
}

/*ปรับสีสันของ Tooltip ได้จากคำสั่ง CSS ตรงนี้*/
.showTooltip{
float:left;
padding:10px;
background:#F3F3F3;
border:2px solid #CFCFCF;
-moz-border-radius: 4px;  
-webkit-border-radius: 4px;  
border-radius: 4px;
color:#333;
position:absolute;
}